html, body {height: 100%; 
    /* overflow: hidden; */}
#background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;

}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    /* [class*="col-"] */ 
    
    .box{
      width: 100%;
      
    }
  }